* {
    color: black;
}

body {
    background-color: green;
}

.big_link {
    display: block;
    width: 100%;
    background-color: red;
    padding: 5px;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

button {
    font-family: "Fira code";
    border: none;
}